*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  outline: 0 !important;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-primary;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-rows: 12rem calc(90vh - 10rem);
  grid-auto-rows: min-content;
  grid-template-columns:
    [full-start] 20rem [center-start] repeat(3, [col-start] 1fr [col-end])
    [center-end] 20rem [full-end];
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
