*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  outline: 0 !important;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-x-largest) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-primary;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-rows: 12rem calc(90vh - 10rem);
  grid-auto-rows: min-content;
  grid-template-columns:
    [full-start] 20rem [center-start] repeat(3, [col-start] 1fr [col-end])
    [center-end] 20rem [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 12rem min-content;
    grid-template-columns:
      [full-start] 8rem [center-start] repeat(3, [col-start] 1fr [col-end])
      [center-end] 8rem [full-end];
  }

  @media only screen and (max-width: $bp-x-medium) {
    grid-template-columns:
      [full-start] 6rem [center-start] repeat(3, [col-start] 1fr [col-end])
      [center-end] 6rem [full-end];
  }
}
