.cards {
  grid-column: center-start / center-end;

  display: flex;
  justify-content: center;
  align-items: center;

  &--home {
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
    top: -$margin-section;
  }

  &--img {
    flex-direction: column;
  }

  &__box {
    display: flex;
    margin-bottom: $margin-section;

    @media only screen and (max-width: $bp-s-medium) {
      flex-direction: column;
      align-items: center;

      margin-bottom: $margin-big;
    }
  }
}

.testimonials {
  grid-column: center-start / center-end;
  text-align: center;

  &__grid {
    margin: $margin-x-big 0;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(min(45rem, 100%)), 1fr)
    );
    place-content: center;
    gap: $margin-x-big;
  }
}

.card {
  background-color: $color-white;
  box-shadow: $shadow-cards;
  z-index: 2;
  border-radius: 15px;

  &--home {
    text-align: center;
    min-width: 30rem;
    padding: 6rem 1rem 7rem 1rem;
    margin: $margin-big $margin-medium 0 $margin-medium;
  }

  &--media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 7rem;

    &--1 {
      max-width: 65rem;
    }
  }

  &--testimonial {
    text-align: left;
    padding: $margin-big;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  &__img {
    width: 15rem;
    height: 11rem;
    margin-bottom: $margin-small;
  }

  &__background {
    max-width: 43rem;
    min-width: 35rem;

    &--left {
      margin-right: -14rem;
    }

    &--right {
      margin-left: -14rem;
    }

    img {
      width: 100%;
      height: auto;
    }

    @media only screen and (max-width: $bp-s-medium) {
      max-width: 25rem;
      min-width: 20rem;

      order: -1;
      margin-bottom: 6rem;

      &--left,
      &--right {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__info {
    text-align: right;
  }
}
