.navigation {
  grid-column: center-start / center-end;
  grid-row: 1 / 1;

  margin: 3rem 0;
  display: flex;
  align-items: center;

  &__logo {
    height: 100%;
    width: auto;
    margin-right: auto;
  }

  &__menu {
    display: flex;
    align-items: center;
    font-weight: 400;
  }

  &__item {
    font-size: 1.9rem;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__link {
    color: $color-primary;
    text-decoration: none;
    transition: $transition-base;

    &::after {
      display: block;
      content: "";
      height: 2px;
      width: 2px;
      margin-top: 4px;
      background-color: transparent;
      transition: $transition-base;
    }

    &:hover {
      color: $color-secondary;
    }

    &:hover::after {
      background-color: $color-secondary;
      width: 100%;
    }
  }
}

.header {
  grid-row: 2 / 3;
  grid-column: center-start / center-end;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    margin-right: auto;
  }

  &__cta {
    margin-top: $margin-small;
    display: flex;
    flex-flow: wrap;
    align-items: center;

    & > * {
      margin-bottom: $margin-small;
    }

    & > :not(:last-child) {
      margin-right: $margin-small;
    }
  }

  &__video {
    flex-basis: 75%;
    box-shadow: $shadow-video;
    border-radius: 25px;
    overflow: hidden;

    max-width: 100%;
    min-width: 38rem;
    height: auto;

    video {
      width: 100%;
      height: auto;
    }
  }
}
