.ellipse {
  grid-column: 1 / -1;
  background-color: $color-primary;
  clip-path: ellipse(100% 50% at 50% 50%);
  padding: 12rem 0 18rem 0;
  color: $color-white;
  @include center;

  &--sub {
    padding: 10rem 0 15rem;
  }
}

.centered {
  grid-column: 1 / -1;
  @include center;
}

.columns {
  grid-column: center-start / center-end;
  display: flex;
  align-items: baseline;
  justify-content: center;

  &__half {
    flex-basis: 40%;
  }

  &__half:not(:last-child) {
    margin-right: $margin-medium;
  }
}
