//Colors
$color-primary: #222222;
$color-secondary: #e74c3c;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark-1: #4e4e4e;
$color-grey-dark-2: #0000004d;
$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #4e4e4e33;

//Margins
$margin-section: 14rem;
$margin-section-2: 25rem;
$margin-x-small: 1rem;
$margin-small: 2rem;
$margin-medium: 3.5rem;
$margin-big: 6rem;
$margin-x-big: 8rem;
$margin-xxl: 10rem;

// Font Variable
$font-primary: "Rubik", sans-serif;

// Breakpoints
// 1em = 16px
$bp-x-largest: 93.75em; // 1500 px
$bp-largest: 84.37em; // 1350 px
$bp-large: 75em; // 1200 px
$bp-x-medium: 65.62em; // 1050 px
$bp-medium: 50em; // 800 px
$bp-s-medium: 40.62em; // 650 px 
$bp-small: 31.25em; // 500 px

// Transition
$transition-base: all 0.25s ease-in;
$transition-fast: all 0.1s ease-in;

// Shadows
$shadow-btn: 0px 6px 12px $color-grey-dark-2;
$shadow-video: 0px 0px 12px 8px rgba(66, 65, 65, 0.068);
$shadow-cards: 0px 5px 12px 5px rgba(66, 65, 65, 0.068);

// Mixins
@mixin center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    flex: 0 0 45%;

    @media only screen and (max-width: $bp-large) {
      flex: 0 0 60%;
    }

    @media only screen and (max-width: $bp-x-medium) {
      flex: 0 0 75%;
    }
  }
}

@mixin line {
  display: block;
  content: "";
  height: 2px;
  width: 2px;
  margin-top: 4px;
}
