<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="We leverage diverse entrepreneurial experience to help businesses like yours build resilience even in times of crisis. Get 4000€ of consulting 100% subsidised!"
    />

    <title>
      Resilience Agency &#124; How we can help
    </title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!--Icon Font-->
    <script
      src="https://kit.fontawesome.com/b61c52f130.js"
      crossorigin="anonymous"
    ></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="container">
    <nav class="navigation">
      <a class="navigation__logo" href="../index.html">
        <img
          src="../media/icons/logo-main.svg"
          alt="Resilience Agency Logo"
          class="navigation__img"
        />
      </a>
      <ul class="navigation__menu">
        <li class="navigation__item">
          <a href="./help.html" class="navigation__link">How we can help </a>
        </li>
        <li class="navigation__item">
          <a
            href="./about.html"
            class="navigation__link navigation__link--current"
            >About</a
          >
        </li>
        <li class="navigation__item">
          <a href="./contact.html" class="navigation__link">Contact</a>
        </li>
        <li class="navigation__item">
          <a href="./faq.html" class="navigation__link">FAQ</a>
        </li>
      </ul>
    </nav>
    <header class="header">
      <div class="header__content header__content--2">
        <h1>
          <span class="main">
            The Resilience <br />
            Agency Mission
          </span>
        </h1>
        <p>
          Our consultancy, which is registered with the German Federal
          Government, dispenses invaluable business advice worth more than 4000€
          to SME’s and freelancers. We help our clients take full advantage of
          the 100% subsidised consulting services available through the BAFA
          program.
        </p>
        <div class="header__cta">
          <a href="#" class="btn btn--ghost">Find out more</a>
        </div>
      </div>
      <div class="header__img">
        <img src="../media/img/hero-about.svg" alt="Resilience Logo" />
      </div>
    </header>

    <section class="ellipse ellipse--sub">
      <div class="ellipse__content">
        <h3>
          The Foundation of Our Consultancy: 26+ Years of experience
        </h3>
        <p>
          Our founder, Robert “Rosho” Hopp, has dedicated nearly three decades
          to strengthening businesses throughout Europa and beyond. He has more
          than 200 successful consulting missions to his name, along with an
          immense network of knowledgeable, innovative, and multilingual
          consultants.
        </p>
        <p>
          It is years of combined entrepreneurial experience and Rosho’s
          augmented leadership approach that enable us to create effective
          solutions and get measurable results for our client’s businesses.
        </p>

        <div class="u-margin-top">
          <a href="#" class="btn btn--ghost btn--white">
            Book a free online meeting
          </a>
        </div>
      </div>
    </section>

    <section class="columns u-margin-section-top u-margin-bottom-big">
      <div class="columns__half">
        <p>
          <span class="big">
            <b
              >We work with a diverse range of clients from freelancers to SMEs
              to the top 100 European corporations.</b
            >
          </span>
        </p>
        <p>
          Large and small, all of them have been impacted to some extent by the
          current sanitary crisis and the resulting economic disaster.
        </p>
      </div>
      <div class="columns__half">
        <p>
          Rosho and our team have proven over and again that smarter use of
          digital processes and related methodologies are a viable solution.
          Supporting businesses in becoming lean and agile, adapting swiftly to
          change, and embracing augmentation is at the core of what we do.
          Specifically, we excel at using our extensive language skills and
          cultural openness to assist expat businesses in Germany, which are
          often overlooked.
        </p>
      </div>
    </section>

    <section class="testimonials u-margin-section">
      <div>
        <h3>
          What our clients say
        </h3>
      </div>

      <div class="testimonials__grid">
        <div class="card card--testimonial">
          <p>
            ’’I had the opportunity to work with Robert in a short term project.
            He showed his Programme manager skills and was able to contribute
            and grasp the main parts of the work. I would highly recommend and
            work again with him at any time, his skills and experience are an
            asset to any project’’.
          </p>
          <div class="card__info">
            <span class="name">Patrick Revel</span>
            <br />
            <span class="work-tittle"
              >Managing Delivery Architect at Bei Etl23</span
            >
            <br />
            <span class="date"
              >November 14, 2017, Robert (Rosho) worked with Patrick in the same
              group</span
            >
          </div>
        </div>
        <div class="card card--testimonial">
          <p>
            ’’Robert Hopp was my Project Manager of the overall Digital
            Transformation, under which were my Contact Center Solution and
            Wireless LAN implementation Projects. Robert helped me greatly,
            helping me to see the end goal in my project(s). He provided me with
            unwavering support’’.
          </p>
          <div class="card__info">
            <span class="name">Tim Metzger</span>
            <br />
            <span class="work-tittle"
              >Director and Snr. Partner at Sales Solutions and Imports</span
            >
            <br />
            <span class="date"
              >October 5, 2015, Tim reported directly to Robert (Rosho)</span
            >
          </div>
        </div>
        <div class="card card--testimonial">
          <p>
            ’’Over the last 2 years, Robert proved to be not only pragmatic but
            also very dynamic and really knows how to tackle problems or issues.
            He quickly comes up with good practical solutions. Robert helped us
            to initiate and build strong partnerships with major NGOs like
            PlanetFinance, in order to develop and promote Fonxio’’.
          </p>
          <div class="card__info">
            <span class="name">Jonas Hopp</span>
            <br />
            <span class="work-tittle">Co-founder of Fonxio</span>
            <br />
            <span class="date"
              >November 19, 2014, Jonas managed Robert (Rosho) directly</span
            >
          </div>
        </div>
        <div class="card card--testimonial">
          <p>
            ’’In 2014 I worked together in an challenging Managed Cloud project
            with Robert Hopp. My experience was very good during our time
            together. Robert is very helpful senior professional that works hard
            and is very solution oriented. So I can strongly recommend Robert’’.
          </p>
          <div class="card__info">
            <span class="name">Thomas Panzer</span>
            <br />
            <span class="work-tittle">Independent IT Consultant</span>
            <br />
            <span class="date"
              >June 7, 2016, Thomas reported directly to Robert (Rosho)</span
            >
          </div>
        </div>
      </div>
      <div class="u-margin-top-x-big">
        <a href="#" class="btn btn--full">
          Read more
        </a>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__content">
        <div class="footer__column">
          <h5>Find us</h5>
          <p>
            <b>Address</b><br />
            Nikolsburger Platz<br />
            10717 Berlin<br />
            <a href="mailto:info@resilience.agency" class="footer__link">
              info@resilience.agency
            </a>
          </p>
          <br />
          <p>
            <b>Opening hours</b> <br />
            Monday&ndash;Friday:09:00&ndash;17:00 <br />
            Saturday&ndash;Sunday:11:00&ndash;15:00
          </p>
        </div>
        <div class="footer__column">
          <h5>Recent Posts</h5>
          <div class="footer__posts">
            <a href="#" class="footer__link">
              BAFA Subsidy has been raised to 100%
            </a>
            <a href="#" class="footer__link">
              How your business can survive the coronavirus crisis
            </a>
            <a href="#" class="footer__link">
              Success stories: Enrique's Store
            </a>
          </div>
        </div>
        <div class="footer__column">
          <h5>Follow us and share</h5>
          <div class="footer__icons">
            <a href="#" class="footer__link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__copy">
        <div class="footer__top">
          <a href="#" class="footer__link">
            Impressum
          </a>
          <a href="#" class="footer__link">
            Datenschutz
          </a>
          <a href="#" class="footer__link">
            FAQ
          </a>
        </div>
        <p>&copy; Heradocles Jose</p>
      </div>
    </footer>
  </body>
</html>
