<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="We leverage diverse entrepreneurial experience to help businesses like yours build resilience even in times of crisis. Get 4000€ of consulting 100% subsidised!"
    />

    <title>
      Resilience Agency &#124; How we can help
    </title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!--Icon Font-->
    <script
      src="https://kit.fontawesome.com/b61c52f130.js"
      crossorigin="anonymous"
    ></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="container">
    <nav class="navigation">
      <a class="navigation__logo" href="../index.html">
        <img
          src="../media/icons/logo-main.svg"
          alt="Resilience Agency Logo"
          class="navigation__img"
        />
      </a>
      <a class="navigation__icon" id="js-navigation__icon">
        <i class="fas fa-bars"></i>
      </a>
      <ul class="navigation__menu" id="js-navigation__menu">
        <li
          class="navigation__item navigation__item--close"
          id="js-navigation__close"
        >
          <i class="fas fa-times"></i>
        </li>
        <li class="navigation__item">
          <a href="./help.html" class="navigation__link">How we can help </a>
        </li>
        <li class="navigation__item">
          <a href="./about.html" class="navigation__link">About</a>
        </li>
        <li class="navigation__item">
          <a
            href="./contact.html"
            class="navigation__link navigation__link--current"
            >Contact</a
          >
        </li>
        <li class="navigation__item">
          <a href="./faq.html" class="navigation__link">FAQ</a>
        </li>
      </ul>
    </nav>
    <header class="header">
      <div class="header__content header__content--2">
        <h1>
          <span class="main">
            Are you ready to <br />
            build resilience?
          </span>
        </h1>
        <p>
          Be aware that Rosho speaks German, English and French. If you would
          like to speak in another of the currently available languages, please
          tell us and a qualified consultant will make contact with you in your
          language.
        </p>
        <div class="header__cta">
          <a
            href="https://meetings.hubspot.com/robert246"
            class="btn btn--ghost"
            >Contact us</a
          >
        </div>
      </div>
      <div class="header__img">
        <img src="../media/img/hero-about.svg" alt="Resilience Logo" />
      </div>
    </header>

    <section class="centered u-margin-section-top u-margin-bottom-big">
      <div class="centered__content">
        <h4>
          Book a free 15 minutes Consultation
        </h4>
        <p>
          Meet with our founder and director Rosho to discuss how you can
          benefit from the available subsidies, as well as our expertise in
          digital business and organisational change.
        </p>
        <!-- Start of Meetings Embed Script -->
        <div
          class="meetings-iframe-container"
          data-src="https://meetings.hubspot.com/robert246?embed=true"
        ></div>
        <script
          type="text/javascript"
          src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"
        ></script>
        <!-- End of Meetings Embed Script -->
      </div>
    </section>

    <section class="centered u-margin-section">
      <div class="centered__content">
        <h3>
          We will get back to you
        </h3>
        <p>
          Within 24h after you send us an email
        </p>
        <div class="u-margin-top">
          <a hhref="mailto:rosho@roshoworld.com" class="btn btn--full">
            Send us an email
          </a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer__content">
        <div class="footer__column">
          <h5>Find us</h5>
          <p>
            <b>Address</b><br />
            Nikolsburger Platz<br />
            10717 Berlin<br />
            <a href="mailto:info@resilience.agency" class="footer__link">
              info@resilience.agency
            </a>
          </p>
          <br />
          <p>
            <b>Opening hours</b> <br />
            Monday&ndash;Friday <br />
            09:00AM&ndash;17:00PM <br />
          </p>
        </div>
        <div class="footer__column">
          <h5>Recent Posts</h5>
          <div class="footer__posts">
            <a href="#" class="footer__link">
              BAFA Subsidy has been raised to 100%
            </a>
            <a href="#" class="footer__link">
              How your business can survive the coronavirus crisis
            </a>
            <a href="#" class="footer__link">
              Success stories: Enrique's Store
            </a>
          </div>
        </div>
        <div class="footer__column">
          <h5>Follow us and share</h5>
          <div class="footer__icons">
            <a href="#" class="footer__link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__copy">
        <div class="footer__top">
          <a href="#" class="footer__link">
            Impressum
          </a>
          <a href="#" class="footer__link">
            Datenschutz
          </a>
          <a href="#" class="footer__link">
            FAQ
          </a>
        </div>
        <p>&copy; Heradocles Jose</p>
      </div>
    </footer>
    <script src="../js/script.js"></script>
  </body>
</html>
