<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="We leverage diverse entrepreneurial experience to help businesses like yours build resilience even in times of crisis. Get 4000€ of consulting 100% subsidised!"
    />

    <title>
      Resilience Agency &#124; FAQ
    </title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!--Icon Font-->
    <script
      src="https://kit.fontawesome.com/b61c52f130.js"
      crossorigin="anonymous"
    ></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="container">
    <nav class="navigation">
      <a class="navigation__logo" href="../index.html">
        <img
          src="../media/icons/logo-main.svg"
          alt="Resilience Agency Logo"
          class="navigation__img"
        />
      </a>
      <ul class="navigation__menu">
        <li class="navigation__item">
          <a href="./help.html" class="navigation__link">How we can help </a>
        </li>
        <li class="navigation__item">
          <a href="./about.html" class="navigation__link">About</a>
        </li>
        <li class="navigation__item">
          <a href="./contact.html" class="navigation__link">Contact</a>
        </li>
        <li class="navigation__item">
          <a
            href="./faq.html"
            class="navigation__link navigation__link--current"
          >
            FAQ
          </a>
        </li>
      </ul>
    </nav>
    <header class="header">
      <div class="header__content header__content--1">
        <h1>
          <span class="main">
            Frequently <br />
            Asked Questions
          </span>
        </h1>
        <p>
          Do you have questions about what we do? Get answers to some of the
          most common questions we hear.
        </p>
        <div class="header__cta">
          <a href="#" class="btn btn--ghost">Find out more</a>
        </div>
      </div>
      <div class="header__img">
        <img src="../media/img/hero-faq.svg" alt="Resilience Logo" />
      </div>
    </header>

    <section class="cards cards--img u-margin-section-top">
      <div class="cards__box">
        <div class="card__background card__background--left">
          <img src="../media/img/faq-card-1.svg" alt="" class="" />
        </div>
        <div class="card card--media card--media--1 card--media-1">
          <h4>
            What is BAFA?
          </h4>
          <p class="faq">
            BAFA is the authority responsible for export control, economic
            development for SME’s, etc. Our consulting services are based on its
            framework.
          </p>
          <div class="">
            <a href="#" class="btn btn--full">Learn more</a>
          </div>
        </div>
      </div>

      <div class="cards__box">
        <div class="card card--media card--media--1 card--media-1">
          <h4>
            What is the BAFA subsidy for?
          </h4>
          <p class="faq">
            The German government can fully subsidise in advance up to 4000€ to
            be used by SMEs for business consulting services through a certified
            consultancy like ours.
          </p>
          <div class="">
            <a href="#" class="btn btn--full">Learn more</a>
          </div>
        </div>
        <div class="card__background card__background--right">
          <img src="../media/img/faq-card-2.svg" alt="" class="" />
        </div>
      </div>

      <div class="cards__box">
        <div class="card__background card__background--left">
          <img src="../media/img/faq-card-3.svg" alt="" class="" />
        </div>
        <div class="card card--media card--media--1">
          <h4>
            What is the KfW Quick Loan? Am I eligible?
          </h4>
          <p class="faq">
            Enterprises with 10 or more employees that were active on the market
            before January 1, 2019 may be eligible to receive a rapid loan of up
            to 800,000€.
          </p>
          <div class="">
            <a href="#" class="btn btn--full">Learn more</a>
          </div>
        </div>
      </div>

      <div class="cards__box">
        <div class="card card--media card--media--1">
          <h4>
            What is resilience? How can your agency help me build it?
          </h4>
          <p class="faq">
            Resilience is the ability to cope with hardships. We combine
            expertise and innovation to help you adapt quickly and rise above
            challenges.
          </p>
          <div class="">
            <a href="#" class="btn btn--full">Learn more</a>
          </div>
        </div>
        <div class="card__background card__background--right">
          <img src="../media/img/faq-card-4.svg" alt="" class="" />
        </div>
      </div>

      <div class="cards__box">
        <div class="card__background card__background--left">
          <img src="../media/img/faq-card-5.svg" alt="" class="" />
        </div>
        <div class="card card--media card--media--1 card--media-1">
          <h4>
            What can your consultants advise me on?
          </h4>
          <p class="faq">
            We can offer innovative and pragmatic solutions related to going
            digital, saving money, expanding products and services, managing
            personnel, and much more.
          </p>
          <div class="">
            <a href="#" class="btn btn--full">Learn more</a>
          </div>
        </div>
      </div>

      <div class="cards__box">
        <div class="card card--media card--media--1 card--media-1">
          <h4>
            What are your consulting qualifications?
          </h4>
          <p class="faq">
            Not only are we certified by the German government to provide
            consulting based on the BAFA framework, but we also have many
            diverse business experiences to draw from.
          </p>
          <div class="">
            <a href="#" class="btn btn--full">Learn more</a>
          </div>
        </div>
        <div class="card__background card__background--right">
          <img src="../media/img/faq-card-6.svg" alt="" class="" />
        </div>
      </div>
    </section>
    <section class="centered u-margin-section">
      <div class="centered__content">
        <h3>
          Do You Still
          <br />
          Have Questions?
        </h3>
        <div class="u-margin-top">
          <a href="#" class="btn btn--full">
            Book a free meeting
          </a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__content">
        <div class="footer__column">
          <h5>Find us</h5>
          <p>
            <b>Address</b><br />
            Nikolsburger Platz<br />
            10717 Berlin<br />
            <a href="mailto:info@resilience.agency" class="footer__link">
              info@resilience.agency
            </a>
          </p>
          <br />
          <p>
            <b>Opening hours</b> <br />
            Monday&ndash;Friday <br />
            09:00AM&ndash;17:00PM <br />
          </p>
        </div>
        <div class="footer__column">
          <h5>Recent Posts</h5>
          <div class="footer__posts">
            <a href="#" class="footer__link">
              BAFA Subsidy has been raised to 100%
            </a>
            <a href="#" class="footer__link">
              How your business can survive the coronavirus crisis
            </a>
            <a href="#" class="footer__link">
              Success stories: Enrique's Store
            </a>
          </div>
        </div>
        <div class="footer__column">
          <h5>Follow us and share</h5>
          <div class="footer__icons">
            <a href="#" class="footer__link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__copy">
        <div class="footer__top">
          <a href="#" class="footer__link">
            Impressum
          </a>
          <a href="#" class="footer__link">
            Datenschutz
          </a>
          <a href="#" class="footer__link">
            FAQ
          </a>
        </div>
        <p>&copy; Heradocles Jose</p>
      </div>
    </footer>
  </body>
</html>
