<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="We leverage diverse entrepreneurial experience to help businesses like yours build resilience even in times of crisis. Get 4000€ of consulting 100% subsidised!"
    />

    <title>
      Resilience Agency &#124; How we can help
    </title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon-16x16.png"
    />
    <link rel="manifest" href="../site.webmanifest" />

    <!-- External CSS -->
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!--Icon Font-->
    <script
      src="https://kit.fontawesome.com/b61c52f130.js"
      crossorigin="anonymous"
    ></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="container">
    <nav class="navigation">
      <a class="navigation__logo" href="../index.html">
        <img
          src="../media/icons/logo-main.svg"
          alt="Resilience Agency Logo"
          class="navigation__img"
        />
      </a>
      <ul class="navigation__menu">
        <li class="navigation__item">
          <a
            href="./help.html"
            class="navigation__link navigation__link--current"
          >
            How we can help
          </a>
        </li>
        <li class="navigation__item">
          <a href="./about.html" class="navigation__link">About</a>
        </li>
        <li class="navigation__item">
          <a href="./contact.html" class="navigation__link">Contact</a>
        </li>
        <li class="navigation__item">
          <a href="./faq.html" class="navigation__link">FAQ</a>
        </li>
      </ul>
    </nav>
    <header class="header">
      <div class="header__content">
        <h1>
          How we can help you to<br />
          <span class="main">
            Boost Your Resilience
          </span>
        </h1>
        <p>
          We leverage the BAFA consulting framework to provide practical advice
          on key aspects of business management including economic, financial,
          organizational, and personnel-related matters.
        </p>
        <div class="header__cta">
          <a href="#" class="btn btn--ghost">Learn more</a>
        </div>
      </div>
      <div class="header__img">
        <img src="../media/img/hero-help.svg" alt="Resilience Logo" />
      </div>
    </header>
    <section class="ellipse ellipse--sub">
      <div class="ellipse__content">
        <h3>
          Recognized By the German Federal Government
        </h3>
        <p>
          Our consultancy is government-registered and provides pragmatic advice
          to businesses impacted by coronavirus. We offer well over 4000€ in
          entrepreneurial expertise to our customers, helping them to benefit
          from the BAFA program, which is 100% subsidised.
        </p>
        <div class="u-margin-top">
          <a href="#" class="btn btn--ghost btn--white">
            Contact us!
          </a>
        </div>
      </div>
    </section>
    <section class="columns u-margin-section-top u-margin-bottom-big">
      <div class="columns__half">
        <p>
          Consulting firms, religious organizations, agriculture-related
          businesses and those that have filed for bankruptcy are not eligible
          for subsidiaries, along with non-profits, public businesses, and
          NGO’s.
        </p>
      </div>
      <div class="columns__half">
        <p>
          <span class="big">
            <b>
              Resilience Agency can still offer invaluable advice to all of
              these businesses.
            </b>
          </span>
        </p>
      </div>
    </section>
    <section class="cards cards--img">
      <div class="cards__box">
        <div class="card__background card__background--left">
          <img src="../media/img/help-card-1.svg" alt="" class="" />
        </div>
        <div class="card card--media">
          <h4>
            Survive sanitary and<br />
            economic crisis
          </h4>
          <p class="">
            &#8226; Ensuring sustainability despite coronavirus and other crises
            <br />
            &#8226; Practising non-disrupting cost-saving
            <br />
            &#8226; Developing solid, new business models in times of crisis
          </p>
        </div>
      </div>

      <div class="cards__box">
        <div class="card card--media">
          <h4>
            Mastering Digital Business
          </h4>
          <p class="">
            &#8226; Embracing e-commerce and selling online
            <br />
            &#8226; Implementing contactless payment methods
            <br />
            &#8226; Managing online payments and order processes efficiently
            <br />
            &#8226; Mastering internal and external digital processes of any
            kind
          </p>
        </div>
        <div class="card__background card__background--right">
          <img src="../media/img/help-card-2.svg" alt="" class="" />
        </div>
      </div>

      <div class="cards__box">
        <div class="card__background card__background--left">
          <img src="../media/img/help-card-3.svg" alt="" class="" />
        </div>
        <div class="card card--media">
          <h4>
            Organisation Optimisation
          </h4>
          <p class="">
            &#8226; Becoming a lean agile adaptive organisation
            <br />
            &#8226; Finding exceptional employees
            <br />
            &#8226; Navigating remote work as a manager
            <br />
            &#8226; Managing virtual and distributed teams
          </p>
        </div>
      </div>

      <div class="cards__box">
        <div class="card card--media">
          <h4>
            Find Profitable New Markets
          </h4>
          <p class="">
            &#8226; Handling imports, exports, and expansion
            <br />
            &#8226; Offering new products and services
          </p>
        </div>
        <div class="card__background card__background--right">
          <img src="../media/img/help-card-4.svg" alt="" class="" />
        </div>
      </div>

      <div class="cards__box">
        <div class="card__background card__background--left">
          <img src="../media/img/help-card-5.svg" alt="" class="" />
        </div>
        <div class="card card--media">
          <h4>
            Groundbreaking Innovation
          </h4>
          <p class="">
            &#8226; Exploring new mobility concepts
            <br />
            &#8226; Considering new energy (and renewable energy) options
          </p>
        </div>
      </div>
    </section>
    <section class="centered u-margin-section">
      <div class="centered__content">
        <h3>
          Our Capabilities <br />
          Are Extensive
        </h3>
        <p>
          Our consulting team can provide expert advice on a variety of other
          topics to bolster the resilience of your business. Just tell us about
          yourself and your situation, and we’ll take it from there!
        </p>
        <div class="u-margin-top">
          <a href="#" class="btn btn--full">
            Book a free meeting
          </a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__content">
        <div class="footer__column">
          <h5>Find us</h5>
          <p>
            <b>Address</b><br />
            Nikolsburger Platz<br />
            10717 Berlin<br />
            <a href="mailto:info@resilience.agency" class="footer__link">
              info@resilience.agency
            </a>
          </p>
          <br />
          <p>
            <b>Opening hours</b> <br />
            Monday&ndash;Friday <br />
            09:00AM&ndash;17:00PM <br />
          </p>
        </div>
        <div class="footer__column">
          <h5>Recent Posts</h5>
          <div class="footer__posts">
            <a href="#" class="footer__link">
              BAFA Subsidy has been raised to 100%
            </a>
            <a href="#" class="footer__link">
              How your business can survive the coronavirus crisis
            </a>
            <a href="#" class="footer__link">
              Success stories: Enrique's Store
            </a>
          </div>
        </div>
        <div class="footer__column">
          <h5>Follow us and share</h5>
          <div class="footer__icons">
            <a href="#" class="footer__link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#" class="footer__link">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__copy">
        <div class="footer__top">
          <a href="#" class="footer__link">
            Impressum
          </a>
          <a href="#" class="footer__link">
            Datenschutz
          </a>
          <a href="#" class="footer__link">
            FAQ
          </a>
        </div>
        <p>&copy; Heradocles Jose</p>
      </div>
    </footer>
  </body>
</html>
